@model BookListViewModel

<div class="row text-center">
    <img style="margin-left:3%" src="https://www.loc.gov/static/home/images/featured/evergreen/main_reading_room.jpg" alt="" width="1100" height="500">
</div>
@foreach (var book in Model.Books)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <h2>
                <a asp-controller="Book" asp-action="Detail" asp-route-idBook="@book.Id">@book.Name</a>

            </h2>
            <img src="@book.ImageUrl" alt="" width="150" height="400">
            <div class="caption">
                <p>@book.ShortDescription</p>
                <h3 class="pull-right">@book.Price.ToString("c")</h3>
            </div>
        </div>
    </div>
}